ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    margin-left: 5px;
    margin-top:1em;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.infoButton{
        color:grey;
        background-color: light-grey;
        border:solid 1px black;
        padding:2px;

}

form input {
    margin:1em;
}

.eventDisplay > li { 
    display: block;
    position: relative;
}