
*{
    font-family: 'Titillium Web', sans-serif;

}

body {

        background-color: #00ff00;
        box-sizing: border-box;
        font-size: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    margin-left: 5px;
    margin-top:1em;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.infoButton{
        color:black;
        background-color: light-grey;
        border:solid 1px black;
        padding:5px;
        border-radius:15px;
        width:60px;

}
.infoButton img {
    width:10px;
    height:10px;
    margin-right: 10px;
    background-color:light-grey;
}

form input {
    margin:1em;
}

.eventDisplay > li {
    display: block;
    position: relative;
}

button {

    background-color:  #F8F8F8  ;
    padding: 8px;
    margin:3px;
    font-size: 12px;
    width:100px;
}

.listWrapper > ul li {
margin: 1em 0.2em;


}

.listWrapper {
  background-color: white;
}

.eventWrapper {
    background-color: white;
}
.eventInfo {
    margin:1em;
    padding-top: 15px;
    text-align: center;
}
.eventImg { border-radius: 150px }

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  background-color: white;
}
#drag1 {
  width: 200px;
  height: 35px;
  padding: 10px;
  border: 1px solid white;
  background-color: lime
}
